# Example env for notification-service
PORT=4001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/notificationdb
KAFKA_BROKER=localhost:9092
NOTIFICATION_TOPIC=notifications
NODE_ENV=development
